<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<nav>
		<img src="/images/logo.png" width="879" height="553">
		<a href="/houses">ALL Homes</a>
		<% if (user) { %>
		  <a href="/houses/new"	>
			  Rent</a>
		  <a href="/houses/new" >Add NewHome</a>
		  <a href="/logout">LOG OUT</a>
		<% } else { %>
		  <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png" width="20" height="20"></a>
		<% } %>
	</nav>
	<!-- <style>
		body {background-image: url(https://i.imgur.com/9rzdzis.png);
			  background-size: cover;
			  background-repeat: no-repeat;
		}
	</style> -->
	
</head>
<body>

    <!-- <section id="show-page"> -->
    <section>
		<div>Type: </div>
		<div>
            <%= house.type %>
		</div>
		<div>Address: </div>
		<div>
            <%= house.address %>
		</div>
		<div>Beds/Baths: </div>
		<div>
            <%= house.bedsbaths %>
		</div>
		<div>Price: </div>
		<div>
            <%= house.price %>
		</div>		
	</section>

    <br><br>

    <h2>Reviews</h2>
    
        <form id="add-review-form" method="POST" action="/houses/<%= house._id %>/reviews">
			<label>Review:</label>
			<textarea name="content"></textarea>
			<label>Rating:</label>
			<select name="rating">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5" selected>5</option>
			</select>
			<input type="submit" value="Add Review">
		</form>


            <% if (house.reviews.length) { %>
				<table>
					<thead>
						<tr>
							<th>User</th>
							<th>Date</th>
							<th>Review</th>
							<th>Rating</th>
						</tr>
					</thead>
					<tbody>
						<% house.reviews.forEach(function(r) { %>
							<tr>
								<td class="review-user"><img alt="avatar" src="<%= r.userAvatar %>"
										referrerpolicy="no-referrer">
									<%= r.userName %>
								</td>
								<td>
									<%= r.createdAt.toLocaleDateString() %>
								</td>
								<td>
									<%= r.createdAt.toLocaleDateString() %>
								</td>
								<td>
									<%= r.content %>
								</td>
								<td>
									<%= r.rating %>
								</td>
								<td>
									<% if (user && user._id.equals(r.user)) { %>
										<form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
											<button type="submit">X</button>
										</form>
                                        
                                        <a href="/reviews/<%= r._id %>/edit" > Edit Review</a>
                                        <form action="/reviews/<%= r._id %>?_method=PUT" method="POST">
                                            <!-- Value attribute is being set to the reviews's current text -->
                                            <input name="content" value="<%= r.text %>">
                                            <button type="submit">UPDATE REVIEW</button>
                                          </form>
                                          
										<% } %>
								</td>
								
							</tr>
							<% }); %>
					</tbody>
				</table>
				<% } else { %>
					<h5>No Reviews Yet</h5>
					<% } %>
    
</body>
</html>






